.button {
  &-primary {
    //Button styling
    width: 100%;
    height: 51px;

    border-radius: 8px;
    border: none;
    background-color: $black-primary;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      //Font styling
      @extend .button-primary-text;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &-secondary {
    position: fixed;
    bottom: 0;
    padding: 0px;
    border: none;
    background-color: $black-primary;

    height: 10vh;

    &-text {
      @extend .button-secondary-text;
      text-transform: uppercase;
    }
  }
}
