.pac {
  /* &-container {
  } */
  &-item {
    &-query {
      font-family: "DINPro-Regular" !important;
      font-size: 18px !important;
      font-weight: normal !important;
      font-style: normal !important;
      font-stretch: normal !important;
      line-height: 1.33 !important;
      letter-spacing: normal !important;
      text-align: left !important;
    }
    /* &:hover {
      background-color: $black-primary !important;
      color: $white !important;
    } */
  }
}
