.stars {
  $percent: calc(#{$rating}/ 5 * 100%);

  display: inline-block;
  margin-bottom: 0px;
  padding-bottom: 0px;

  &::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      $black-primary $percent,
      $white $percent
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
