.animate {
  -webkit-transition: all $animationtime ease;
  -moz-transition: all $animationtime ease;
  -ms-transition: all $animationtime ease;
  -o-transition: all $animationtime ease;
  transition: all $animationtime ease;
}

.textleft {
  text-align: left;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}

.imgfit {
  display: block;
  width: 100%;
  height: auto;
}

.videowrapper {
  position: relative;
  padding-bottom: percentage(360/640);
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.toogleDisplay {
  @each $screenName, $screenSize in $gridcolumns {
    @include dynamicMQuery($gridwidth, $screenName) {
      @if $screenName == "desktop" {
        display: block;
      } @else {
        display: none;
      }
    }
  }
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .visible-#{$screenName} {
      visibility: show;
    }

    .hidden-#{$screenName} {
      visibility: hidden;
    }
  }
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .vertical-align-#{$screenName} {
      display: flex;
      //flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .col-dir-#{$screenName} {
      display: flex;
      flex-direction: column;
    }
  }
}
