.animate {
  -webkit-transition: all $animationtime ease;
  -moz-transition: all $animationtime ease;
  -ms-transition: all $animationtime ease;
  -o-transition: all $animationtime ease;
  transition: all $animationtime ease;
}

.textleft {
  text-align: left;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}

.imgfit {
  display: block;
  width: 100%;
  height: auto;
}

.vertical-align {
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.float-right {
  position: relative;
  float: right;
}

.place-bottom {
  position: fixed;
  bottom: 0;
}

.pos-relative {
  position: relative;
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .fixed-#{$screenName} {
      position: fixed;
    }
  }
}
.toogleDisplay {
  @each $screenName, $screenSize in $gridcolumns {
    @include dynamicMQuery($gridwidth, $screenName) {
      @if $screenName == "desktop" {
        display: block;
      } @else {
        display: none;
      }
    }
  }
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .flex-center-#{$screenName} {
      display: flex;
      align-items: center;
      //justify-content: center;
    }
  }
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .dir-col-#{$screenName} {
      display: flex;
      flex-direction: column;
    }
  }
}

@each $screenName, $screenSize in $gridcolumns {
  @include dynamicMQuery($gridwidth, $screenName) {
    .dir-row-#{$screenName} {
      display: flex;
      flex-direction: row;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
