$titlesfont: "DINPro-Bold";
$titlesfontweights: "bold";
$bodyfont: "DINPro-Regular";
$bodyfontweights: "normal";

//Colors
$yellow: #fed600;
$red: #dd052d;
$grey-primary: #f4f4f9;
$grey-secondary: #dbdbdb;
$grey-tertiary: #848484;

$white: #fff;
$black-primary: #151515;
$black-secondary: #080808;

$green: #92faaa;

//Grid variables
$gridcolumns: (
  "mobile": 4,
  "tablet": 6,
  "desktop": 16
);
$gridgutter: (
  "mobile": 10px,
  "tablet": 30px,
  "desktop": 18px
);

$gridwidth: (
  "mobile": 375px,
  "tablet": 768px,
  "desktop": 1366px
);

$logoFontSize: (
  "mobile": 32px,
  "tablet": 32px,
  "desktop": 32px
);

$titleFontSize: (
  "mobile": 50px,
  "tablet": 60px,
  "desktop": 72px
);

$formHeight: (
  "mobile": 50px,
  "tablet": 50px,
  "desktop": 50px
);

//Misc
$animationtime: 0.4s;

$login-animation-time: 0.3s;
$login-animation-delay: 0s;

$h-button-width: 85px;

$ratingHeight: 20px;
$rating: 4.5;
