$titlesfont: "DINPro-Bold";
$titlesfontweights: "bold";
$bodyfont: "DINPro-Regular";
$bodyfontweights: "normal";

$yellow: #fed600;
$red: #dd052d;
$grey-primary: rgba(0, 0, 0, 0.1);
$grey-secondary: rgba(0, 0, 0, 0.5);
$white: #fff;
$black: #000000;

$animationtime: 0.4s;

$h-button-width: 85px;

$ratingHeight: 20px;
$rating: 100%;

$gridcolumns: (
  "mobile": 4,
  "tablet": 6,
  "desktop": 16
);
$gridgutter: (
  "mobile": 10px,
  "tablet": 30px,
  "desktop": 18px
);

$gridwidth: (
  "mobile": 375px,
  "tablet": 768px,
  "desktop": 1366px
);

$logoFontSize: (
  "mobile": 32px,
  "tablet": 32px,
  "desktop": 32px
);

$titleFontSize: (
  "mobile": 50px,
  "tablet": 60px,
  "desktop": 72px
);

$formHeight: (
  "mobile": 60px,
  "tablet": 60px,
  "desktop": 30px
);
