body {
  font-family: $bodyfont, sans serif;
  color: $black;
  font-size: 24px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $titlesfont, sans serif;
  }
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
  }
  h2 {
    font-size: 40px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    line-height: 1.06;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: $white;
  }
}

//Sets font properties
%font-h1 {
}

@font-face {
  font-family: "DINPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Regular"),
    url("/static/fonts/DIN/DINPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Medium"),
    url("/static/fonts/DIN/DINPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Light";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Light"),
    url("/static/fonts/DIN/DINPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Medium"),
    url("/static/fonts/DIN/DINPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Black";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Medium"),
    url("/static/fonts/DIN/DINPro-Black.otf") format("opentype");
}
