body {
  @extend .body-main-primary;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $titlesfont, sans serif;
  }
  h1 {
    //Primary title
    @extend .title-primary;
  }

  header {
    h1 ~ p {
      //Primary title subtitle
      @extend .title-primary-subtitle;
    }
  }
  h2 {
    @extend .title-secondary;
  }

  a {
    @extend .link-primary;
    text-decoration: none;

    &:hover {
      color: $grey-tertiary;
    }

    &:visited {
      color: $grey-secondary;
    }
  }

  dd {
    @extend .description-list;
  }
  dt {
    @extend .description-list-tag;
  }
  input#searchMapInput {
    @extend .input-search-gmaps;
  }
}
.title-primary {
  text-transform: uppercase;
  font-family: "DINPro-Bold";
  font-size: 94px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: $white;
}

.title-primary-subtitle {
  font-family: "DINPro-Bold";
  font-size: 42px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: $black-primary;
}

.title-secondary {
  //Page highlight title
  font-family: "DINPro-Black";
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: $black-primary;
}
.body-main-primary {
  font-family: "DINPro-Regular";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $black-primary;
}
.body-main-secondary {
  font-family: "DINPro-Regular";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $black-secondary;
}

.body-main-primary-bold {
  font-family: "DINPro-Bold";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $black-primary;
}

.button-primary-text {
  font-family: "DINPro-Bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}

.button-secondary-text {
  font-family: "DINPro-Bold";
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.button-primary-subtext {
  font-family: "DINPro-Bold";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: $black-primary;
}

.link-primary {
  font-family: "DINPro-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: $red;
}

.description-list {
  font-family: "DINPro-Bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: $red;
}

.description-list-tag {
  font-family: "DINPro-Bold";
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: $red;
}

.input-search-gmaps {
  font-family: "DINPro-Regular";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $grey-secondary;
}

@font-face {
  font-family: "DINPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Regular"),
    url("/static/fonts/DIN/DINPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Medium"),
    url("/static/fonts/DIN/DINPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Light";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Light"),
    url("/static/fonts/DIN/DINPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Bold"),
    url("/static/fonts/DIN/DINPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Black";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Black"),
    url("/static/fonts/DIN/DINPro-Black.otf") format("opentype");
}
