body.become-partner-1 {
  .pos-relative {
    position: relative;
  }

  .img {
    &-logo {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    &-stamp {
      object-fit: contain;
      height: 79px;
      width: auto;
      vertical-align: middle;
      position: relative;
      bottom: 8px;
    }
    &-beirao-portugal {
      max-width: 540px;
      height: auto;
      position: absolute;
      bottom: -80px;

      /* top: -470px;*/
      right: -500px;
    }
  }

  .margin-top {
    margin-top: 75px;
  }
  .password-link {
    margin-top: 66px;
  }
  .checkbox-text {
    @extend .button-primary-subtext;
  }

  .login-width {
    margin-left: 25%;
  }

  .margin-left {
    margin-left: 50px;
  }

  .section-1 {
    h2 {
      margin-top: 147px;
    }

    p {
      margin-top: 65px;
      margin-bottom: 268px;
    }
  }

  .section-2 {
    background-color: $black-primary;

    h2 {
      @extend .title-primary-subtitle;
      color: $white;
      margin-top: 70px;
      text-transform: uppercase;
    }

    p {
      margin-top: 36px;
      margin-bottom: 52px;
      color: $white;
    }
    img {
      max-width: 706px;
      height: auto;
      margin-bottom: 71px;
    }
  }

  .section-3 {
    background-color: $grey-primary;
    h2 {
      margin-top: 70px;
      @extend .title-primary-subtitle;
      text-transform: uppercase;
    }
    p {
      margin-top: 36px;
      margin-bottom: 52px;
    }
    img {
      object-fit: cover;

      width: 706px;
      height: 332px;
      margin-bottom: 70px;
    }
  }

  .section-4 {
    margin-bottom: 251px;
    h2 {
      margin-top: 222px;
      margin-bottom: 61px;
    }

    p {
      @extend .body-main-secondary;
    }
    .steps-container {
      position: relative;
      .steps-list {
        position: absolute;
        top: -310px;
        left: 600px;
        dt {
          margin-bottom: 18px;
        }

        dd {
          margin-inline-start: 0px;
          margin-bottom: 30px;

          .regular {
            font-family: "DINPro-Regular";
          }
        }
      }
    }
  }

  footer {
    background-color: $grey-primary;
    p {
      @extend .body-main-secondary;
      margin-right: 42px;
      text-align: right;
    }
  }
}
