body.become-partner-1 {
  .img {
    &-logo {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    &-stamp {
      object-fit: contain;
      @each $screenName, $screenSize in $gridcolumns {
        @include dynamicMQuery($gridwidth, $screenName) {
          @if $screenName != "mobile" {
            height: 79px;
          } @else {
            height: 50px;
          }
        }
      }

      width: auto;
      vertical-align: middle;
      position: relative;
      bottom: 8px;
    }
    &-beirao-portugal {
      height: auto;

      @each $screenName, $screenSize in $gridcolumns {
        @include dynamicMQuery($gridwidth, $screenName) {
          @if $screenName != "mobile" {
            position: absolute;
            max-width: 540px;
            bottom: map-get($img-beirao-portugal-bottom, $screenName);
            right: map-get($img-beirao-portugal-right, $screenName);
          } @else {
            bottom: 0px;
            right: 0px;
            width: 100%;
          }
        }
      }
    }
  }

  .margin-top {
    margin-top: 75px;
  }
  .password-link {
    margin-top: 66px;
  }
  .checkbox-text {
    @extend .button-primary-subtext;
  }

  .login-width {
    margin-left: 25%;
  }

  .margin-left {
    margin-left: 50px;
  }

  .section-1 {
    h2 {
      @each $screenName, $screenSize in $gridcolumns {
        @include dynamicMQuery($gridwidth, $screenName) {
          @if $screenName != "mobile" {
            margin-top: 147px;
          } @else {
            margin-top: 0px;
          }
        }
      }
    }

    p {
      margin-top: 65px;
      margin-bottom: 268px;
    }
  }

  .section-2 {
    background-color: $black-primary;

    h2 {
      @extend .title-primary-subtitle;
      color: $white;
      margin-top: 70px;
      text-transform: uppercase;
    }

    p {
      margin-top: 36px;
      margin-bottom: 52px;
      color: $white;
    }
    img {
      max-width: 706px;
      height: auto;
      margin-bottom: 71px;
    }
  }

  .section-3 {
    background-color: $grey-primary;
    h2 {
      margin-top: 70px;
      @extend .title-primary-subtitle;
      text-transform: uppercase;
    }
    p {
      margin-top: 36px;
      margin-bottom: 52px;
    }
    img {
      object-fit: cover;
      /* 
      width: 706px;
      height: 332px; */
      margin-bottom: 70px;
    }
  }

  .section-4 {
    @each $screenName, $screenSize in $gridcolumns {
      @include dynamicMQuery($gridwidth, $screenName) {
        @if $screenName != "mobile" {
          margin-bottom: 251px;
        } @else {
          margin-bottom: 50px;
        }
      }
    }
    h2 {
      @each $screenName, $screenSize in $gridcolumns {
        @include dynamicMQuery($gridwidth, $screenName) {
          @if $screenName != "mobile" {
            margin-top: 222px;
          } @else {
            margin-top: 50px;
          }
        }
      }
      margin-bottom: 61px;
    }

    p {
      @extend .body-main-secondary;
    }
    .steps-container {
      @each $screenName, $screenSize in $gridcolumns {
        @include dynamicMQuery($gridwidth, $screenName) {
          @if $screenName != "mobile" {
            position: relative;
          } @else {
            margin-left: 50px;
          }
        }
      }
      .steps-list {
        @each $screenName, $screenSize in $gridcolumns {
          @include dynamicMQuery($gridwidth, $screenName) {
            @if $screenName != "mobile" {
              position: absolute;
              top: -310px;
              left: 600px;
            } @else {
              top: 0px;
              left: 50px;
            }
          }
        }

        dt {
          margin-bottom: 18px;
        }

        dd {
          margin-inline-start: 0px;
          margin-bottom: 30px;

          .regular {
            font-family: "DINPro-Regular";
          }
        }
      }
    }
  }

  .button-primary {
    @each $screenName, $screenSize in $gridcolumns {
      @include dynamicMQuery($gridwidth, $screenName) {
        @if $screenName != "mobile" {
          display: none;
        } @else {
          margin-bottom: 50px;
        }
      }
    }
  }

  footer {
    background-color: $grey-primary;
    p {
      @extend .body-main-secondary;
      margin-right: 42px;
      text-align: right;
    }
  }
}
