.guide-setup-2 {
  .box {
    background-color: $black-primary;
    position: absolute;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 698px;
    height: 83px;
    left: 0;
    right: 0;
    border-radius: 81px;

    transition: transform 0.3s;
    transform: rotate(-4deg);
    //Transform box animation
    &-right-animation {
      transition: transform 0.3s;
      transform: rotate(4deg);
    }

    &-content {
      position: relative;
      @extend .body-main-primary-bold;
      color: $white;
      justify-content: center;
      text-align: center;
    }

    //Transform logo animation
    &-image {
      position: absolute;
      top: -60px;
      transition: left 0.7s;
      left: 80px;
      z-index: 1;
      width: 63px;
      height: 63px;

      &-right-animation {
        transition: left 0.7s;
        left: 550px;
      }
    }
  }
  .section-custom,
  .section-default {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    .p-first {
      margin-top: 100px;
      @extend .body-main-primary-bold;
      text-align: center;
    }
    .p-second {
      margin-top: 40px;
      text-align: center;
    }
    .person {
      @extend .body-main-primary-bold;
    }
    .scroll {
      position: relative;
      top: 100px;
      &-text {
        font-size: 16px;
        height: 51px;
        text-transform: uppercase;
      }
      &-line {
        position: absolute;
        top: 50px;
        left: 30px;
        width: 2px;
        height: 120px;
        background-color: $black-primary;
      }
    }
    .container-button {
      position: relative;
      margin-top: 80px;
      .button-toggle {
        position: absolute;
        transform: translateX(-50%);
        top: 40px;
        align-items: center;
        justify-content: center;
        width: 226px;
        height: 51px;
        color: $white;
        @extend .button-primary-text;
      }
    }
  }

  .section-custom {
    background-color: $white;
    margin-top: 0px;
    transition: background-color 0.3s;

    //Transform background-color to yellow
    &-yellow-animation {
      transition: background-color 0.3s;
      background-color: $yellow;
    }
  }
  .section-default {
    background-color: $yellow;
    margin-top: 0px;
    transition: background-color 0.3s;

    &-white-animation {
      transition: background-color 0.3s;
      background-color: $white;
    }
  }

  section.guide {
    .header-guide {
      h2 {
        margin-top: 120px;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        text-align: center;
        .p-strong {
          @extend .body-main-primary-bold;
        }
      }
      p:last-child {
        margin-bottom: 94px;
      }
    }

    .guide-logo {
      width: 95px;
      height: auto;
      margin-bottom: 64px;
    }
  }

  section.search {
    margin-bottom: 187px;
    .left-margin {
      margin-left: 50px;
    }

    aside {
      h3 {
        text-transform: uppercase;
        margin-top: 0px;
      }
      .search-description {
        @extend .main-description;
      }
    }
    [class^="search-container"] {
      display: flex;
      flex-wrap: wrap;
    }
    .search-results {
      // I don't have the exact details for this box styling
      position: relative;
      box-shadow: 0px 3px 6px 0px $grey-secondary;
      border-radius: 8px;
      border-color: $grey-primary;
      height: 143px;
      margin-top: 44px;
      h4 {
        @extend .body-main-primary-bold;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px;
        padding-bottom: 0px;
      }
      p {
        @extend .main-description;
        color: $black-primary;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px;
        padding-top: 10px;
      }
    }
  }

  section {
    .img-place {
      margin: 0 auto;
      margin-top: 30px;
      width: 316px;
      height: 241px;

      object-position: center;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: 10px;
    }
    .section-place {
      @extend .body-main-primary-bold;
      margin-bottom: 0px;
    }
    .section-street {
      @extend .card-street;
      margin-top: 5px;
    }
    .left-align {
      display: flex;
      justify-content: left;
    }

    .price-level {
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .opening-time {
      position: relative;
      &-text {
        margin-left: 30px;
        margin-bottom: 30px;
        margin-top: 0px;
        margin-bottom: 0px;

        @extend .card-opening-time;
        font-style: normal;
      }
    }

    .dot {
      display: inline-block;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      height: 20px;
      width: 20px;
      background-color: $green;
      border-radius: 50%;
    }
  }

  .guide {
    margin-top: 80px;
    margin-bottom: 200px;
    .left-margin {
      margin-left: 50px;
    }
    &-see {
      @extend .link-secondary;
    }
  }
  footer {
    background-color: $grey-primary;
    img,
    p {
      margin-left: 54px;
    }
    p {
      @extend .body-main-secondary;
      margin-right: 42px;
      text-align: left;
      margin-bottom: 53px;
    }
    img {
      height: 78px;
      width: auto;
      margin-top: 43px;
    }
  }
}
