.guide-setup-1 {
  background-image: url("/static/imgs/background/Cantos_Vermelhos.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    top: 76px;
    left: auto;
    width: 200px;
    height: auto;
  }

  h2 {
    @extend .title-primary-subtitle;
    text-align: center;
  }
}
