header {
  h1 {
    color: black;
    font-size: 60px;
    margin-top: 70px;
  }

  .wrapper {
    .more-buttons {
      margin-top: 50px;

      .more-button {
        border-style: none;
        background-color: $white;
        height: 59px;
        width: calc((#{$h-button-width}) / 2);
        border: 2px solid $black;
        border-radius: 6px;
        box-shadow: none;

        &-left {
          border-radius: 5px 0px 0px 5px;
          margin-right: -3px;
        }

        &-right {
          border-radius: 0px 5px 5px 0px;
          margin-left: -3px;
        }

        &-arrow {
          font-size: 14px;
          text-align: center;
        }
      }
    }

    &-text {
      margin-top: 8px;
      width: 80px;
      font-size: 14px;
      text-align: right;
    }
  }
  .logo-margin-top {
    margin-top: 50px;
  }
  .logo-container {
    height: 80px;
  }
  .logo-main-colors {
    width: auto;
    height: 100%;
  }
}
