.background-color {
  background-color: $yellow;
}

.landing {
  &-title {
    font-size: 94px;
  }

  &-desc {
    line-height: 1.29;
    width: 78%;
    padding-bottom: 74px;
  }

  &-img {
    max-width: 450px;
    height: auto;
    position: relative;
    right: 120px;
    top: 60px;
  }
}
